.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.nav-link {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: #61dafb;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #21a1f1;
}

.screen {
  margin-top: 20px;
}

.button-container {
  margin-top: 15px;
}

button {
  margin: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #61dafb;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}
