body {
  font-family: 'Roboto', sans-serif;
}

.App-header {
  background-color: maroon;
  padding: 15px;
  color: white;
  text-align: center;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background-color: maroon;
}

.site-title {
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 100%;
  max-width: 100%;
}

.nav-link {
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  transition: 0.3s;
  text-align: center;
  white-space: nowrap;
}


.nav-link:hover {
  background-color: white;
  color: maroon;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header  {
  background-color: #3498db;
  font-size: 16px;
}

.ant-table-thead > tr > th {
  background-color: #34495e; 
  color: white;
}

.hero-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #800000;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  transition: 0.3s;
}

.hero-button:hover {
  background-color: white;
  color: maroon;
}

.decision-container {
  text-align: center;
  margin-top: 20px;
  transition: all 0.50s ease-in-out;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.decision-button {
  margin: 10px;
  padding: 10px 15px;
  border: 2px solid white;
  background-color: #800000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.decision-button:hover {
  background-color: white;
  color: maroon;
}

.welcome-container {
  text-align: center;
  margin-top: 20px;
}

.welcome-message {
  font-size: 35px;
  color: maroon;
  font-weight: bold;
  margin-bottom: 15px;
}

.welcome-image {
  max-width: 75%;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-bottom: 50px;
}

.attendance-section {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 150px;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.attendance-title {
  font-size: 50px;
  color: maroon;
  font-weight: bold;
}

.attendance-text {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}


.faq-container {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}

.faq-title {
  font-size: 28px;
  color: maroon;
  font-weight: bold;
}

.faq-text {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

.website-text {
  font-size: 22px;
  color: maroon;
  font-weight: bold;
  margin-top: 20px;
}

.tutorial-text {
  font-size: 18px;
  color: #333;
  margin: 5px 0;
}

.Back-button {
  display: inline-block;
  background-color: transparent;
  color: rgb(15, 15, 15);
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Back-button:hover {
  background-color: #0056b3;
  color: white;
}

@media (max-width: 768px) {
  .nav-bar {
    padding: 10px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .nav-link {
    width: 90%;
    max-width: 300px;
    font-size: 14px;
    padding: 10px;
  }

  .site-title {
    font-size: 20px;
    text-align: center;
  }

}
