@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.nav-link {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: #3498db;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #2952b9;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header  {
  background-color: #3498db;
  font-size: 16px;
}

.ant-table-thead > tr > th {
  background-color: #34495e; 
  color: white;
}

.ant-table-tbody > tr > td {
  background-color: #ecf0f1; 
}

.ant-table-row:hover {
  background-color: #bdc3c7; 
}


.screen {
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}

ul {
  list-style-type: none;
}

ul li {
  margin: 10px 0;
}

ul li a {
  color: #61dafb;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}



.fade-enter,
.fade-exit-done {
    opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}